<main>
<div class="content-recipe-wrap">
  <div class="container">
    <div class="content-recipe grid">
      <div class="col-md-10 col-md-offset-1">
        <div class="grid top">
          <div class="col-sm-6">
            <img [src]="recipe.image" alt="">
          </div>
          <div class="col-sm-6">
            <h1>{{recipe.title}}</h1>
            <div class="featuring">
              <div class="txt">
                <span>Featuring</span>
              </div>
              <div class="img"><img src="/assets/markup/images/img47.png" alt=""></div>
            </div>
            <p [innerHTML]="recipe.description"></p>
            </div>
        </div>
        <div class="grid">
          <div class="col-sm-6">
            <h2>Ingredients</h2>
            <p [innerHTML]="recipe.ingredients"></p>
          </div>
          <div class="col-sm-6">
            <h2>Directions</h2>
            <p [innerHTML]="recipe.direction"></p>
          </div>
        </div>
      </div>
    </div>

    <app-slider color="purple" title="Related" [items]="slides"></app-slider>
  </div>
</div>
</main>