// ---------------------------------------------------------===
// Campaign styles
// ---------------------------------------------------------===

.bg-pink {
    background-color: $lipstick;
}

.heading-row {
    @include stripebg(transparent, white02, 35px, 35px)
    @extend %clearfix;
    color: $white;
    padding: 60px 0 92px;
    position: relative;
    z-index: 0;

    &:after {
        content: none;
    }

    &.alt {
        background: #03a496;
        padding-bottom: 359px;
        margin-bottom: -343px;

        @include media('<tablet') {
            padding-bottom: 38px;
            margin-bottom: -20px;
        }

        &:after {
            background-image: url('#{$image-path}/bg15.png');
            content: '';
            position: absolute;
            height: 164px;
            left: 0;
            right: 0;
            bottom: -50px;
            background-repeat: repeat-x;

            @include media('<tablet') {
                height: 34px;
                bottom: -20px;
            }
        }
    }

    h1 {
        @extend %h1;
        margin: 74px 62px 0 0;
        float: left;

        @include media('<tablet') {
            font-size: 45px;
            float: none;
            margin: 30px 0 0;
        }

        &.xl {
            font-size: 150px;
            margin: 95px 41px 0 0;

            @include media('<widescreen') {
                font-size: 120px;
                
            }

            @include media('<desktop') {
                font-size: 100px;
            }

            @include media('<tablet') {
                font-size: 80px;
                margin: 40px 0 0;
            }
        }
    }

    .txt {
        overflow: hidden;
        padding-top: 30px;
        padding-right: 150px;

        @include media('<widescreen') {
            padding-right: 0;
        }

        @include media('<tablet') {
            padding-top: 15px;
            text-align: center;
        }
    }
}

.campaign-block {
    background-color: #f7883d;
    margin-top: -30px;
    background-repeat: repeat-x;
    padding: 28px 0 45px;
    position: relative;
    z-index: 1;

    @include media('<tablet') {
        padding: 20px 0 30px;
    }

    &:before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        background-repeat: repeat-x;
        z-index: -1;
        background-image: url('#{$image-path}/bg14.png');
        height: 526px;
        top: -30px;

        @include media('<desktop') {
            background-size: auto 170px;
            height: 170px;
        }
    }
}

.campaign-list {
    a {
        display: block;
        overflow: hidden;

        img {
            transition: transform 0.25s linear;
        }

        &:hover {
            img {
                transform: scale(1.1);
            }
        }

        .txt {
            @extend %h1;
            color: $white;
            text-transform: uppercase;
            position: absolute;
            top: 34%;
            right: 10%;
            display: block;
            font-size: 96px;
            font-family: $headings-font-family;
            line-height: 0.9;

            @include media('<1300px') {
                font-size: 80px;
            }

            @include media('<widescreen') {
                font-size: 70px;
            }

            @include media('<desktop') {
                font-size: 50px;
            }

            @include media('<tablet') {
                font-size: 40px;
            }

            &.sm {
                font-size: 48px;
                text-align: center;
                top: 44%;
                left: 50%;
                width: 100%;
                right: auto;
                transform: rotate(-12deg) translate(-50%, -50%);
                color: #aeadae;

                @include media('<widescreen') {
                    font-size: 38px;
                }

                @include media('<desktop') {
                    font-size: 30px;
                }

                @include media('<tablet') {
                    font-size: 24px;
                }
            }

            &.fade {
                color: #aeadae;
            }
        }
    }
}