// ---------------------------------------------------------===
// Where to Buy page styles
// ---------------------------------------------------------===

.contact-section {
    padding: 176px 0 152px;
    background: #5b5287;
    color: $white;
    position: relative;

    @include media('<tablet') {
        padding: 62px 0 117px;
    }

    &:after {
        background-image: url('#{$image-path}/bg19.png');
        content: '';
        position: absolute;
        height: 87px;
        left: 0;
        right: 0;
        top: 0;
        background-repeat: repeat-x;

        @include media('<tablet') {
            height: 21px;
            background-size: 200% auto;
            top: -14px;
        }
    }

    h1 {
        @extend %h1;
        color: $white;
        margin: 17px 0 11px -88px;

        @include media('<desktop') {
            margin: 17px 0 15px;
        }

        @include media('<tablet') {
            margin: 0 0 23px;
            font-size: 48px;
        }
    }
}

.contact-heading {
    font-size: 19px;
    line-height: 1.526;
    margin: 0 0 79px;

    @include media('<tablet') {
        font-size: 12px;
        margin: 0 0 52px;
    }

    p {
        margin: 0 0 30px;

        @include media('<tablet') {
            margin: 0 0 19px;
        }
    }

    a {
        color: $yellow-sea;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }
}

.contact-form {
    max-width: 760px;

    @include media('<desktop') {
        max-width: none;
    }

    h3 {
        font: 700 19px/1.2 $gotham;
        color: $white;
        text-transform: none;
        margin: 0 0 45px;

        @include media('<tablet') {
            display: none;
        }
    }

    .label {
        display: inline-block;
        vertical-align: top;
        margin: 0 0 7px;

        @include media('<tablet') {
            display: none;
        }
    }

    .nice-select {
        background: $white;
        border-radius: 0;
        border: none;
        color: #5b5287;
        line-height: 53px;
        height: 53px;
        padding: 0 61px 0 21px;
        color: #5b5287;

        @include media('<tablet') {
            line-height: 45px;
            height: 45px;
            font-size: 12px;
            padding: 0 42px 0 15px;
        }

        &:after {
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 11px 9px 0 9px;
            border-color: #5b5287 transparent transparent transparent;
            right: 21px;

            @include media('<tablet') {
                right: 17px;
            }
        }

        &.open:after {
            transform: rotate(180deg) translateY(50%);
        }

        .list {
            background: $white;

            .option {
                &:hover, &.focus, &.selected, &.selected.focus { 
                    color: $white;
                    background: $strikemaster !important;
                }
            }
        }
    }

    input[type='text'],
    input[type='number'],
    input[type='tel'],
    input[type='email'],
    input[type='search'],
    input[type='password'],
    input[type='url'],
    input[type='date'] {
        background: none;
        border: solid $white;
        border-width: 0 0 2px;
        border-radius: 0;
        padding: 0 0 16px;

        @include placeholder {color: rgba($white, 0.7);}

        @include media('<tablet') {
            font-size: 12px;
            padding: 0 0 10px;
        }

        &.input-error {
            color: red;

            @include placeholder {color: red;}
        }
    }

    textarea {
        border-radius: 0;
        outline: none;
        height: 114px;
        color: #5b5287;
        padding: 15px 24px;

        @include placeholder {color: #5b5287}

        @include media('<tablet') {
            height: 156px;
            font-size: 12px;
            padding: 15px;
        }
    }

    input[type=submit]{
        @include animate(color background-color border-color);
        min-width: 263px;

        @include media('<tablet') {
            width: 100%;
            min-width: 0;
        }
    }

}

.form-group {
    margin: 0 0 56px;

    @include media('<tablet') {
        margin: 0 0 44px;
    }
}

.form-cols {
    display: flex;
    margin: 0 -72px;

    @include media('<desktop') {
        margin: 0 -30px;
    }

    @include media('<tablet') {
        margin: 0;
        display: block;
    }

    .col {
        width: 50%;
        padding: 0 72px;

        @include media('<desktop') {
            padding: 0 30px;
        }

        @include media('<tablet') {
            padding: 0;
            width: 100%;
        }
    }
}

select[data-required="true"] {
    display: block !important;
    height: 0;
    width: 0;
    overflow: hidden;
}

.form-validation {
    .input-error {
        input[type='text'],
        input[type='tel'],
        input[type='email'],
        input[type='search'],
        input[type='password'],
        input[type='number'],
        input[type='url'],
        input[type='date'],
        textarea {
            color: red;
            @include placeholder {color: red;}
        }

        .nice-select {
            .current {
                color: red;
            }
        }

        .checkbox .txt {
            color: red;
        }
    }
}