registry = http://npm.fbwineapps.com
; base64 encoded authentication token
_auth =YWxleGV5OkFyZVlvdVJlYWRJdA==

; required by Nexus
email = alexey@mailovka.ru
username = alexey
; force auth to be used for GET requests
always-auth = true
