<main>
  <div class="headline">
    <div class="container">
      <h1>International</h1>
    </div>
  </div>
  <div class="international">
    <div class="container">
      <div class="grid">
        <div class="col-sm-6 col-sm-offset-1">
          <h2>Barefoot Wine has 16 websites for our fans around the globe!</h2>

          <ul class="links">
            <li><a href="//www.barefootwine.com">Barefoot Wine USA</a><</li>
          </ul>

          <h3>Americas</h3>
          <ul class="links">
            <li><a href="http://www.barefootwine.com.br/">Barefoot Wine Brazil</a></li>
            <li><a href="http://www.barefootwine.ca/">Barefoot Wine Canada</a></li>
            <li><a href="http://www.barefootwine.do/">Barefoot Wine Dominican Republic</a></li>
            <li><a href="http://www.barefootwine.pr/">Barefoot Wine Puerto Rico</a></li>
            <li><a href="http://www.barefootwine.mx/">Barefoot Wine Mexico</a></li>

          </ul>

          <h3>Europe</h3>
          <ul class="links">
            <li><a href="http://www.barefootwine.be/">Barefoot Wine Belgium</a></li>
            <li><a href="http://www.barefootwine.dk/">Barefoot Wine Denmark</a></li>
            <li><a href="http://www.barefootwine.de/">Barefoot Wine Germany</a></li>
            <li><a href="http://www.barefootwine.nl/">Barefoot Wine Netherlands</a></li>
            <li><a href="http://www.barefootwine.pl/">Barefoot Wine Poland</a></li>
            <li><a href="http://www.barefootwine.se">Barefoot Wine Sweden</a></li>
            <li><a href="http://www.barefootwine.co.uk">Barefoot Wine UK</a></li>
          </ul>

          <h3>Asia Pacific</h3>
          <ul class="links">
            <li><a href="http://www.barefootwine.com.au">Barefoot Wine Australia</a></li>
            <li><a href="http://www.barefootwine.hk">Barefoot Wine Hong Kong</a></li>
            <li><a href="http://www.barefootwine.kr">Barefoot Wine Korea</a></li>
          </ul>

          <span class="note">If you have questions on events or products outside of these countries, please <a routerLink="contact">contact us</a> to find out more!</span>
        </div>
      </div>
    </div>
  </div>
</main>

