    <!-- Normal Banner Image and Page Header -->
<div id="body-content">
  <div class="banner-row">
    <wineos-slider></wineos-slider>
  </div>

  <!-- End of Navigation and Banner -->
  <!-- Main Section -->
  <main class="general content">
    <!--container Section-->
    <div class="container">
      <div class="row">
        <!-- End of Side Bar Section-->
        <!-- Main Content Section -->
        <section id="maincontent" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="padding-em">
            <div class="row">
              <!-- Main Content Section -->
              <wineos-content></wineos-content>
              <!-- End of Side img bar Section -->
            </div>
          </div>
          <!-- End of Main Content Section -->
        </section>
      </div>
    </div>
    <wineos-featured-content></wineos-featured-content>
  </main>
</div>
