// ---------------------------------------------------------===
// Forms
// ---------------------------------------------------------===

form,
fieldset {
    margin: 0;
    padding: 0;
    border-style: none;
}

input[type='text'],
input[type='number'],
input[type='tel'],
input[type='email'],
input[type='search'],
input[type='password'],
input[type='url'],
input[type='date'],
textarea {
    -webkit-appearance: none;
    -webkit-border-radius: $form-border-radius;;
    border-radius: $form-border-radius;
    box-sizing: border-box;
    border: 1px solid $form-element-border-color;
    padding: $form-element-padding;
    outline: none;
    width: 100%;

    &:focus,
    &:hover {
        border-color: $form-element-focus-border-color;
    }

    @include placeholder {
        color: $placeholder-color;
    }
}

select {
    -webkit-border-radius: $form-border-radius;;
}

textarea {
    resize: vertical;
    vertical-align: top;
}

button,
input[type='button'],
input[type='reset'],
input[type='file'],
input[type='submit'] {
    -webkit-appearance: none;
    -webkit-border-radius: $form-border-radius;;
    cursor: pointer;
}

.input-ico {
    position: relative;

    input {
        border: none;
        border-bottom: 2px solid $white;
        background: none;
        border-radius: 0;
        padding: 11px 0 11px 31px;
        color: $white;
        @include placeholder {
            color: $white;
        }
    }

    label {
        position: absolute;
        left: 0;
        top: 12px;
        line-height: 1;
        color: $white;
        font-size: 14px;
    }
}