// ---------------------------------------------------------===
// Variables
// ---------------------------------------------------------===

// Colors
$gray: #999;
$black: #333;
$white: #fff;
$strikemaster: #805080;
$butterfly-bush: #5b5287;
$martinique: #3f2b4f;
$mustard: #ffd34d;
$yellow-sea: #ffb000;
$lipstick: #b40766;
$persian-green: #03a496;
$san-Marino: #436F9A;
$japonica: #da8067;
$cardinal: #d11f24;
$asparagus: #71a455;

// theme colors
$theme-colors: (
  "white": $white,
  "pink": $lipstick,
  "yellow": $yellow-sea,
  "mustard": $mustard,
  "green": $persian-green,
  "purple": $martinique,
  "purple1": $strikemaster,
  "brown": $japonica
) !default;

// paths
$root: '..';
$font-path: '#{$root}/fonts';
$image-path: '#{$root}/images';

// fonts
$icomoon: 'icomoon';
$hwtartz: 'hwt_artzregular', 'Arial', 'Helvetica', sans-serif;
$gotham: 'GothamRounded', 'Arial', 'Helvetica', sans-serif;
$base-font-sans-serif: $gotham;
$base-font-serif: 'Times New Roman', 'Times', 'Baskerville', 'Georgia', serif;

// Body
$base-text-color: $martinique !default;
$base-background-color: $white !default;
$font-size-base: 16px !default;
$line-height-base: 1.51 !default;
$base-font-family: $base-font-sans-serif !default;

$vertical-rhythm: ($line-height-base * 1em);

$base-min-width: 320px;

// Liks
$base-link-color: $martinique;

// Buttons 
$btn-color: $white !default;
$btn-background: $black !default;
$btn-padding: 0.4em 0.7em !default;
$btn-font-size: inherit !default;

// Forms
$form-element-padding: $btn-padding !default;
$form-element-border-color: $gray !default;
$form-element-focus-border-color: $black !default;
$form-border-radius: 5px !default;
$placeholder-color: $gray !default;

// Headers
$h1-font-size: 96px !default;
$h2-font-size: 48px !default;
$h3-font-size: 32px !default;
$h4-font-size: 21px !default;
$h5-font-size: 17px !default;
$h6-font-size: 15px !default;

$headings-font-family: $hwtartz !default;
$headings-color: inherit !default;


$animation-speed: 0.3s;

// grid 
$usegrid: true;
$gutter-width: 32px;  // gutter for desktop greater than 768
$gutter-width-mobile: 20px;  // gutter for mobiles
$container-width: 1320px;
$grid-count: 12;