app-contact-form a {
}
a {
  color: #ffb000;
}
app-contact-form .label {
  color: #000;
  text-align: left;
  white-space: normal;
  display: block;
}
app-contact-form form#contactUsForm div:nth-of-type(n+3), app-contact-form .rebatestatus {
  display: none;
}
app-contact-form span.help-block {
  color: #ff0000;
}
app-contact-form label.radioInlineLabel.contactusField.label {
  width: 100px ;
  margin: 0;
  display: inline-block;
}
app-contact-form, app-contact-form form {
  width: 100%;
  padding: 0 25px;
  max-width: 700px;
}
app-contact-form input {
  padding: 0 15px;
  text-align: left;
  color: black;
}
app-contact-form input#phone{
  width: 65%;
  display: inline;
}
app-contact-form select#phoneType {
  width: 34%;
}
app-contact-form #phoneTypeDropDownWrapper {
  display: inline;
}
app-contact-form #prefContactMethodWrapper {
  display: inline-flex;
}
app-contact-form .row {
  margin-left: 0;
  margin-right: 0;
}
app-contact-form form select, app-contact-form form input[type=text], app-contact-form form input[type=number],
app-contact-form form input[type=number], app-contact-form form input[type=email],
app-contact-form form input[type=date], app-contact-form form textarea {
  width: 100%;
  height: 50px;
  background: #fff;
  border-radius: 0px;
  border: 1px solid #95989A;
  -moz-appearance: none;
}
app-contact-form form textarea {
  height: 100px;
}
app-contact-form #userOpinionLabel, app-contact-form #moreInfoIntlLabel,
app-contact-form #moreInfoLabel, app-contact-form #userContactLabel {
  display: inline;
}